.parallax{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
}

.title{
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px 0 #fbc531;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    line-height: 1.5;
    width: 5rem;
    bottom: 3rem;
    left: 10%;
}

/*Definirdo as imagens das divs*/
.divisor01{
    background-image: url('../img/img1.jpg');
}
.divisor02{
    background-image: url('../img/img2.jpg');
}
.divisor03{
    background-image: url('../img/img3.jpg');
}
.divisor04{
    background-image: url('../img/img4.jpg');
}
.divisor05{
    background-image: url('../img/img5.jpg');
}

.textos{
    padding: 1rem;
}

.textos h2, .textos p{
    padding: 1rem;
    margin: 1.3 0;
}